<div class="flex flex-col items-center bg-green-500 h-screen">
    <h2 class="text-center text-white p-2 mb-2">Welcome to SpotiNode</h2>
    
    <div class="flex flex-col items-center border border-white w-10/12 rounded-md h-auto p-2">
        <a href="/" class="bg-green-500 text-black p-2 w-full rounded-md text-center hover:text-white hover:bg-green-700">Home</a>
        <a href="/playlists" class="bg-green-500 text-black p-2 w-full rounded-md text-center hover:text-white hover:bg-green-700">Playlists</a>
    </div>


</div>